@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'poppins';
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .4s ease;
    text-decoration: none;
    font-family: "Poppins", serif;
}

#feliz {
    margin-left: -10px;

}

:root {
    --dark-green: black;
    --green-color: black;
    --white-color: #fff;
}

::selection {
    background: var(--green-color);
    color: var(--white-color);
}

body {
    width: 100%;
    height: 100%;
}

#image-logo {
    width: 30px;


}

section {
    padding: 0 8rem;
    width: 100%;
}

.label {
    font-size: 1.1rem;
    color: #666;
    text-transform: uppercase;
    font-weight: 500;
}

.heading {
    font-size: 3rem;
    margin-top: 1rem;
}

section.home {
    padding: 1rem;
    width: 100%;
    height: 100vh;
}

.home .home-box {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(https://firebasestorage.googleapis.com/v0/b/felizweddings-2925f.appspot.com/o/bg.JPG?alt=media&token=21de8130-d0e1-460d-b609-596ba2a42a02);
    /* background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1)), url(IMG_5577.JPG); */
    background-size: cover;
    background-position: center;
    padding: .5rem;
    border-radius: .5rem;
}

.home .home-box nav {
    width: 100%;
    /* height: 64px; */
    /* background: linear-gradient(rgba(255,255,255,.2), rgba(255,255,255,.2)); */
    backdrop-filter: blur(2px);
    border-radius: .7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    z-index: 10;
    position: relative;
}

nav .logo {
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .logo .bar {
    font-size: 1.8rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
    position: absolute;
    right: 4%;
}

nav .logo .bar:hover {
    color: var(--green-color);
}

nav .logo h3 {
    color: var(--white-color);
    font-weight: 400;
    font-size: 25px;
    /* font-style: italic; */
}

nav .logo i {
    color: var(--white-color);

    font-size: 25px;
    /* font-style: italic; */
}

nav .menu .close {
    display: none;


}

nav .menu {
    /* display: none; */

}

nav .menu ul {
    padding-top: 20px;
    display: flex;
    gap: 3rem;
    list-style: none;
}

nav .menu ul li a {
    color: var(--white-color);
    font-size: 18px;
    font-weight: 400;
}

nav .menu ul li a:hover {
    color: grey
}


.home .home-box .content {
    width: 100%;
    height: calc(100% - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(0, -64px);
}

.content h5 {
    text-transform: uppercase;
    color: var(--white-color);
    font-size: .9rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.content h1 {
    font-size: 4rem;
    max-width: 50rem;
    color: var(--white-color);
    text-align: center;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.content p {
    color: #eee;
    font-weight: 300;
    max-width: 40rem;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 2rem;
}





.destinations {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.destinations .container {
    width: 100%;
}

.destinations .container .container-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.destinations .container .container-box .heading {
    max-width: 30rem;
}

.destinations .container .container-box .content {
    max-width: 35rem;
}

.destinations .container .container-box .content p {
    line-height: 1.7;
    color: #666;
    margin-bottom: 1rem;
}

.destinations .container .container-box .content a {
    color: var(--green-color);
    font-weight: 600;
}

.destinations .container .container-box .content a i {
    margin-left: .5rem;
}

.destinations .container .container-box .content a:hover i {
    margin-left: .1rem;
}

.gallery {
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.gallery .box {
    height: 23rem;
    flex-grow: 1;
    overflow: hidden;
    border-radius: .8rem;
    position: relative;
}

.gallery .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.gallery .box .text {
    position: absolute;
    bottom: 0;
    padding: 1.5rem 2rem;
    left: 0;
    z-index: 1;
}

.gallery .box .text h2 {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 500;
}

.destinations .container .container-box .heading,
.destinations .container .container-box .content {
    transform: translate(-200px);
    opacity: 0;
}

.photoGallery {
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.photoGallery .container .container-box .heading,
.photoGallery .container .container-box .content {
    transform: translate(-200px);
    opacity: 0;
}


.photoGallery .container-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 50px;
}

.photoGallery .container-box .heading {
    max-width: 30rem;
}

.photoGallery .container-box .content {
    max-width: 35rem;
}

.photoGallery .container-box .content p {
    line-height: 1.7;
    color: #666;
    margin-bottom: 1rem;
}

.photoGallery .container-box .content a {
    color: var(--green-color);
    font-weight: 600;
}

.photoGallery .container-box .content a i {
    margin-left: .5rem;
}

.photoGallery .container-box .content a:hover i {
    margin-left: .1rem;
}

.image-Gallery {
    /* width: 100vw; */

    columns: 4;
}

.image-Gallery .box img {
    width: 100%;

}

footer {
    padding: 1rem;
    width: 100%;
}

footer .footer {
    background: var(--dark-green);
    border-radius: .7rem;
    padding: 2rem 7rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact {
    /* height: 90vh; */
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    color: white;
    align-items: center;
}

.contact #fh {
    font-size: 70px;
    margin-bottom: 20px;
}

form {
    text-align: center;
    max-width: 70rem;
    /* margin: 1rem auto; */
    text-align: center;
    /* margin-bottom: 2rem; */
}

.input-box {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;


}

.input-box input {
    margin: 0px 20px;
    border: 1px solid white;
    width: 350px;
    height: 60px;
    padding: 1rem;
    font-size: 1.1rem;
    color: white;
    background-color: var(--bg-color);

    margin: 0.7rem;
    box-shadow: 0 0 8px var(--text-color);

}

#message {

    /* margin-right: 20px; */
    /* width: 100vw; */
    width: 95.5%;
}

textarea {
    border: 1px solid white;
    /* width: 350px; */
    height: 250px;
    padding: 1rem;
    font-size: 1.1rem;
    color: white;
    background-color: var(--bg-color);

    margin: 0.7rem;
    box-shadow: 0 0 8px var(--text-color);

}

.btn {
    border: 1px solid white;
    color: white;
    margin-top: 20px;
    height: 50px;
    width: 200px;
    background-color: black;
    padding: 10px;
    font-size: 20px;
    /* box-shadow: 0 0 15px var(--text-color); */

}

.btn:hover {
    border: 1px solid black;
    color: black;
    margin-top: 20px;
    height: 50px;
    width: 200px;
    background-color: white;
    padding: 10px;
    font-size: 20px;
    /* box-shadow: 0 0 15px var(--text-color); */

}

.button {
    border: 2px solid white;
    height: 100px;
    width: 300px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

.button:hover {
    background-color: white;
    color: white;
}

/* .button i{
    padding-left: 20px;
}
.button label{
    font-size: 20px;
} */

#copy {
    margin-top: 150px;
    font-size: 20px;

    bottom: 10px;

}


@media (max-width: 1020px) {
    html {
        font-size: 85%;
    }

    section {
        padding: 0 2rem;
    }

    footer .footer {
        padding: 2rem;
    }
}

@media (max-width: 910px) {

    .home .home-box nav {
        padding: 0 1rem;
    }

    .home .home-box nav .menu ul {
        gap: 2rem;
    }

    .destinations .container .container-box {
        flex-direction: column;
        align-items: flex-start;
    }

    .photoGallery .container-box {
        flex-direction: column;
        align-items: flex-start;
    }

    footer .footer .container {
        flex-direction: column;
    }

    .image-Gallery {
        /* width: 100vw; */

        columns: 3;
        flex-wrap: wrap;
    }
    .contact #fh {
        font-size: 60px;
        
    }
    
    .input-box input{
        width: 95%; 
      }

    #message {
        width: 95%;
    }
    #copy {
        margin-top: 130px;
        font-size: 20px;
    
      
    
    }
    

}

@media (max-width: 767px) {

    .heading {
        font-size: 2rem;
    }

    .home .home-box nav .menu {
        display: none;
    }

    .home .home-box nav .logo .bar {
        display: block;
    }

    .home .home-box nav .menu.active {
        margin-right: 14px;
        margin-top: 13.5px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        display: block;
        position: absolute;
        right: -1.5rem;
        top: -1.5rem;
        width: 80vw;
        height: 97.2vh;
        background: rgb(0, 0, 0, 0.8);
        display: flex;
        /* align-items: center; */
        padding: 0 3rem;

    }

    .home .home-box nav .menu .close {
        display: block;
        position: absolute;
        top: 2%;
        right: 6%;
        cursor: pointer;
        color: var(--white-color);
        font-size: 2rem;
    }

    .home .home-box nav .menu .close:hover {
        color: rgb(255 255 255/40%);
    }

    .home .home-box nav .menu ul {
        margin-top: 200px;
        flex-direction: column;
        padding-left: 30px;
        font-size: 2rem;
        gap: 4rem;
    }

    .home .home-box nav .menu ul:hover li a {
        color: rgb(255 255 255/40%);
    }

    .home .home-box nav .menu ul li a:hover {
        color: var(--white-color);
    }

    .home .home-box .content {
        padding: 2rem;
    }


    .travel .container .box img {
        height: 6rem;
    }

    .destinations .container .container-box .content {
        font-size: .8rem;
    }

    .photoGallery .container-box p {
        font-size: .9rem;
    }

    .photoGallery {
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 3rem;
    }

    .image-Gallery {
        /* width: 100vw; */

        columns: 2;
        flex-wrap: wrap;
    }
}

@media (max-width: 607px) {
    .home .home-box .content h1 {
        font-size: 2rem;
    }

    .home .home-box .content p {
        font-size: .8rem;
    }

}

@media (max-width: 457px) {

    .photoGallery {
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 1rem;
    }
    .contact #fh {
        font-size: 30px;
        
    }
    .input-box input{

        width: 95%; 
      }

    .btn {
        border: 1px solid white;
        color: white;
        margin-top: 20px;
        height: 40px;
        width: 200px;
        background-color: black;
        padding: 5px;
        font-size: 18px;
        /* box-shadow: 0 0 15px var(--text-color); */
    
    }
    #copy {
        margin-top: 120px;
        font-size: 16px;
    
      
    
    }




}